In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType
from pyspark.sql.types import Row

In [3]:
spark = SparkSession.builder \
    .appName("DataFrames") \
    .master("local") \
    .getOrCreate()

In [6]:
df = spark.read.csv("/home/jovyan/data/juegos.csv", header=True, inferSchema=True)
df.show(5)

+---+------------+-----+---------+---------+
|_c0|nombre_juego|annio|temporada|   ciudad|
+---+------------+-----+---------+---------+
|  1| 1896 Verano| 1896|   Verano|   Athina|
|  2| 1900 Verano| 1900|   Verano|    Paris|
|  3| 1904 Verano| 1904|   Verano|St. Louis|
|  4| 1906 Verano| 1906|   Verano|   Athina|
|  5| 1908 Verano| 1908|   Verano|   London|
+---+------------+-----+---------+---------+
only showing top 5 rows

25/12/02 12:57:35 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , nombre_juego, annio, temporada, ciudad
 Schema: _c0, nombre_juego, annio, temporada, ciudad
Expected: _c0 but found:
CSV file: file:///home/jovyan/data/juegos.csv

In [19]:
path = "/home/jovyan/data/"

In [20]:
!ls /home/jovyan/data/

deporte.csv	 deportistaError.csv  modelo_relacional.jpg
deportista2.csv  evento.csv	      paises.csv
deportista.csv	 juegos.csv	      resultados.csv

In [21]:
!head -n 5 /home/jovyan/data/juegos.csv

,nombre_juego,annio,temporada,ciudad
1,1896 Verano,1896,Verano,Athina
2,1900 Verano,1900,Verano,Paris
3,1904 Verano,1904,Verano,St. Louis
4,1906 Verano,1906,Verano,Athina

In [22]:
juegoSchema = StructType([
    StructField("juego_id",IntegerType(), False),
    StructField("nombre_juego",StringType(), False),
    StructField("annio",StringType(), False),
    StructField("temporada",StringType(), False),
    StructField("ciudad",StringType(), False)
])
juegoDF = sqlContext.read.schema(juegoSchema)\
.option("header", "true").csv(path +"juegos.csv")

In [23]:
juegoDF.show(4)

+--------+------------+-----+---------+---------+
|juego_id|nombre_juego|annio|temporada|   ciudad|
+--------+------------+-----+---------+---------+
|       1| 1896 Verano| 1896|   Verano|   Athina|
|       2| 1900 Verano| 1900|   Verano|    Paris|
|       3| 1904 Verano| 1904|   Verano|St. Louis|
|       4| 1906 Verano| 1906|   Verano|   Athina|
+--------+------------+-----+---------+---------+
only showing top 4 rows

25/12/02 13:12:05 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , nombre_juego, annio, temporada, ciudad
 Schema: juego_id, nombre_juego, annio, temporada, ciudad
Expected: juego_id but found:
CSV file: file:///home/jovyan/data/juegos.csv

In [24]:
spark

In [29]:
def eliminaEncabezados(Indice ,iterador):
    return iter(list(iterador)[1:])

In [31]:
deportistaOlimpicoRDD = deportistaOlimpicoRDD.mapPartitionsWithIndex(eliminarEncabezados(0,)

SyntaxError: incomplete input (3924066293.py, line 1)